In [1]:
import pandas as pd

In [8]:
housing_price_df = pd.read_csv("./HPI 1981-2022 by regions.csv")
housing_price_df.drop(columns=["Month-year","Month-Year","Unnamed: 0"])

,Type,Canada,Atlantic Region,Newfoundland and Labrador,Prince Edward Island,Nova Scotia,New Brunswick,Quebec,"Quebec City, Quebec","Sherbrooke, Quebec",...,Prairie Region,Manitoba,Saskatchewan,Alberta,British Columbia,"Kelowna, British Columbia","Vancouver, British Columbia","Victoria, British Columbia",year,month
0,House and Land,38.2,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,90.5,128.7,1981,1
1,House and Land,38.7,NaN,NaN,NaN,NaN,NaN,NaN,30.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,92.2,130.1,1981,2
2,House and Land,39.3,NaN,NaN,NaN,NaN,NaN,NaN,30.6,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,92.2,130.8,1981,3
3,House and Land,39.9,NaN,NaN,NaN,NaN,NaN,NaN,31.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,91.8,130.8,1981,4
4,House and Land,40.6,NaN,NaN,NaN,NaN,NaN,NaN,31.4,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,91.8,132.5,1981,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1489,Land only,116.1,102.8,102.4,103.1,103.5,102.5,119.0,107.0,104.4,...,104.1,110.2,100.8,103.7,119.7,118.6,120.9,108.7,2022,2
1490,Land only,116.5,102.8,102.4,104.5,103.5,102.5,120.5,107.6,104.4,...,104.9,110.4,101.1,104.6,120.2,118.6,121.3,111.4,2022,3
1491,Land only,116.7,102.8,102.4,104.5,103.5,102.5,120.5,107.6,104.4,...,105.2,110.6,101.3,104.8,120.6,118.6,121.7,111.4,2022,4
1492,Land only,116.8,102.8,102.4,104.5,103.5,102.5,120.5,107.5,104.4,...,105.6,110.6,101.3,105.4,120.6,118.6,121.7,111.4,2022,5
1493,Land only,117.0,102.8,102.4,104.5,103.5,102.5,120.5,107.5,104.4,...,106.1,110.6,101.3,106.0,120.8,118.6,121.9,111.4,2022,6

In [28]:
housing_index_df = pd.read_csv("./INDINF_REAL_ESTATE.csv",skiprows=18)
housing_index_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           173 non-null    object
 1   INDINF_NHPI_Q  123 non-null    float64
 2   INDINF_AFFORD  172 non-null    float64
dtypes: float64(2), object(1)
memory usage: 4.2+ KB

In [29]:
housing_index_df['date'] = pd.to_datetime(housing_index_df['date'])

In [31]:
housing_index_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           173 non-null    datetime64[ns]
 1   INDINF_NHPI_Q  123 non-null    float64
 2   INDINF_AFFORD  172 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 4.2 KB

In [32]:
housing_index_df["year"], housing_index_df["month"] = housing_index_df['date'].dt.year, housing_index_df['date'].dt.month

In [36]:
housing_index_df.drop(columns=["date"])

     INDINF_NHPI_Q  INDINF_AFFORD  year  month
0              NaN          0.435  1980      7
1              NaN          0.476  1980     10
2              NaN          0.498  1981      1
3              NaN          0.552  1981      4
4              NaN          0.646  1981      7
..             ...            ...   ...    ...
168            6.9          0.507  2022      7
169            4.4          0.498  2022     10
170            1.4          0.497  2023      1
171           -0.5          0.502  2023      4
172           -0.9            NaN  2023      7

[173 rows x 4 columns]